.webcam {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
}

.webcam-control > a {
  text-decoration: none;
  color: #000;
  background: #396c9e;
  padding: 10px 50px;
  margin: 10px;
  border-radius: 5px;
}
.webcam-control a:hover {
  box-shadow: 1px 1px 2px #f9f9f9;
  color: #000;
}
body {
  background-color: #fc466b;
}
